<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/compras.css">
    <title>Carrito de Compras</title>
</head>
<body>
    <div class="container">
        <div class="fila1">
            <header>
                <h1>Carro de Compras</h1>
            </header>
        </div>
        <div class="fila2">
            <section>
                <table class="default">
                    <tr>
                    <th>Código del producto</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Valor Total</th>
                    <th></th>
                    </tr>
                    <!--aqui se coloca el for-->
                    <tr>
                        <td><input type="text" name="codigo" id=""></td>
                        <td><input type="text" name="cantidad" id=""></td>
                        <td><input type="text" name="precio" id=""></td>
                        <td><input type="text" name="valor_total" id="" ></td>
                        <td><input type="submit" value="Eliminar"></td>
                    </tr>
                    <!--aqui se coloca el endfor-->
                </table>
            </section>
         </div>
         <div class="fila3">
            <a href=""><input type="button" value="Comprar"></a> <a href=""><input type="button" value="Regresar"></a>
         </div>
    </div>
    
</body>
</html>