{%  extends "constantes.html" %}

{% block title %}Enlatados{% endblock %}

{% block alertas %}
    {% for message in get_flashed_messages() %}            
        <div class="alert alert-warning" style="margin-top:10px;" role="alert">
            <b>{{ message }}</b>
        </div>
    {% endfor %}
{% endblock %}

{% block desarrollo %}
<h1></h1>

<!-- Inicia seccion enlatados -->
<br><br><br>

<div id="fruits" class="section dark_bg layout_padding left_white text-white" >
    <div class="container" style="background-color: #4e73df">
        <div class="row">
           <div class="col-md-12">
                <div class="heading full text_align_center">
                    <br>
                    <h2 class="white_font full text_align_center">Productos Enlatados</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/lata-atun.jfif') }}" width="90%" height="100%" alt="#" />
                </div>
                <br>
                <div class="full d-flex justify-content-center">
                    <input class="form-control form-control-lg" type="text" placeholder="Aqui va código del atún en lata">
                </div>
                <div>
                    <input class="form-control form-control-lg" type="text" placeholder="Caracteristicas del lote/cantidad por lote">
                </div>
                <div>
                    <input class="form-control form-control-lg" type="text" placeholder="Unidades disponibles / Autoactualizable">
                </div>
                <div>
                    <input class="form-control form-control-lg" type="text" placeholder="Tipo de unidades/Latas = venta unidad">
                </div>
                <div>
                    <input class="form-control form-control-lg" type="text" placeholder="Precio por unidad">
                </div>
                <div>
                    <input class="form-control form-control-lg" type="text" placeholder="Precio por unidad">
                </div>
                
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Actualizar Valores</button>
                </div>


            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/lata-sopa.png') }}" width="58%" height="58%" alt="#"/>
                </div>
                <br>
                <div class="full d-flex justify-content-center">
                    <h3 class="white_font">Sopa Tomate<br><strong class="theme_blue ">Infaltable en cada hogar</strong></h3>
                </div>
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/lata-verduras.png') }}"  width="48%" height="48%" alt="#" />
                </div>
                <div class="full d-flex justify-content-center">
                    <h3 class="white_font">Mix de Verduras<br><strong class="theme_blue">Perectos para cualquier comida</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Finaliza seccion enlatados -->
<div><br><br></div>
<!-- Inicia seccion Cereales -->
<!-- <div id="fruits" class="section dark_bg layout_padding left_white text-white">
    <div class="container" style="background-color: #4e73df">
        <div class="row">
           <div class="col-md-12">
                <div class="heading full text_align_center">
                    <br>
                    <h2 class="white_font full text_align_center">Nuestros Cereales</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/cereal-arroz.jpg') }}" width="90%" height="100%" alt="#" />
                </div>
                <div class="full d-flex justify-content-centerr">
                    <h3 class="white_font">Arroz<br><strong class="theme_blue">Altamente seleccionado grano a grano</strong></h3>
                </div>   
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/cereal-trigo.jpg') }}" width="90%" height="100%" alt="#"/>
                </div>
                <div class="full d-flex justify-content-center">
                    <h3 class="white_font">Trigo<br><strong class="theme_blue ">Uno de los pilares de la alimentación</strong></h3>
                </div>
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/cereal-avena.jpg') }}"  width="90%" height="100%" alt="#" />
                </div>
                <div class="full d-flex justify-content-center">
                    <h3 class="white_font">Avena<br><strong class="theme_blue">Sabrosa y rica en proteínas</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Finaliza seccion Cereales -->
<div><br><br></div>
<!-- Inicia seccion Frutos Secos -->
<!-- <div id="fruits" class="section dark_bg layout_padding left_white text-white">
    <div class="container" style="background-color: #4e73df">
        <div class="row">
           <div class="col-md-12">
                <div class="heading full text_align_center">
                    <br>
                    <h2 class="white_font full text_align_center">Frutos Secos</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/fruto-almendra.jpg') }}" width="90%" height="100%" alt="#" />
                </div>
                <div class="full d-flex justify-content-centerr">
                    <h3 class="white_font">Almendras<br><strong class="theme_blue">Alto contenido de fósforo y magnesio</strong></h3>
                </div>   
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/fruto-arandano.jpg') }}" width="90%" height="100%" alt="#"/>
                </div>
                <div class="full d-flex justify-content-center">
                    <h3 class="white_font">Arandanos<br><strong class="theme_blue ">Con propiedades antioxidantes y antiinflamatorias</strong></h3>
                </div>
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr d-flex justify-content-center">
                    <img class="img-responsive rounded" src="{{ url_for('static', filename= 'images/fruto-pistacho.jpg') }}"  width="90%" height="100%" alt="#" />
                </div>
                <div class="full d-flex justify-content-center">
                    <h3 class="white_font">pistachos<br><strong class="theme_blue">Ideal para quienes desean controlar su peso</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Finaliza seccion Frutos Secos -->
<div><br><br></div>
{% endblock %}